.cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin: 0 auto;
    justify-content: center;
    grid-column-gap: 30px;
    list-style: none;
}

.cards__ul {
    padding: 3px;
}

.cards__li {
    list-style-type: none;
    margin-bottom: 15px;
}

.cards__li:before {
    color: #00ccff;
    content: "• ";
}

@media (max-width: 1280px) {
    .cards {
        grid-template-columns: repeat(3, 380px);
    }
}

@media (max-width: 1215px) {
    .cards {
        grid-template-columns: repeat(3, 350px);
    }
}

@media (max-width: 1130px) {
    .cards {
        grid-template-columns: repeat(2, 400px);
    }
}

@media (max-width: 850px) {
    .cards {
        grid-template-columns: repeat(1, 400px);
    }
}

@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(1, 400px);
    }
}

@media (max-width: 350px) {
    .cards {
        grid-template-columns: repeat(1, 300px);
    }
}