.button__text {
    /* margin-right: 16px;
    margin-left: 16px; */
    /* max-width: 560px; */
    font-size: 1rem;
    /* display: block; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    line-height: 22px;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 600px) {
    .button__text {
        font-size: 32px;
        line-height: 35px;
        /* margin: 0 auto 16px auto; */
        /* max-width: 250px; */
    }
}

@media (max-width: 450px) {
    .button__text {
        font-size: 16px;
        line-height: 26px;
        /* margin: 0 auto 16px auto; */
        /* max-width: 250px; */
    }
}