.blockwithinfo__image_type_middle {
    width: 100%;
    display: block;
    margin: 40px auto;
    max-width: 770px;
}


/* .blockwithinfo__image_type_middle {
    max-width: 770px;
    display: block;
    margin: 40px auto;
} */