.cards_type_onlytext {
    grid-template-columns: repeat(2, 585px);
    max-width: 1200px;
}

@media (max-width: 1280px) {
    .cards_type_onlytext {
        grid-template-columns: repeat(2, 500px);
    }
}

@media (max-width: 1000px) {
    .cards_type_onlytext {
        grid-template-columns: repeat(1, 500px);
    }
}

@media (max-width: 450px) {
    .cards_type_onlytext {
        grid-template-columns: repeat(1, 400px);
    }
}

@media (max-width: 410px) {
    .cards_type_onlytext {
        grid-template-columns: repeat(1, 320px);
    }
}