.cards_type_4column {
    grid-template-columns: repeat(4, 295px);
}

@media (max-width: 1280px) {
    .cards_type_4column {
        grid-template-columns: repeat(3, 295px);
    }
}

@media (max-width: 950px) {
    .cards_type_4column {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 640px) {
    .cards_type_4column {
        grid-template-columns: repeat(1, 350px);
    }
}

@media (max-width: 350px) {
    .cards_type_4column {
        grid-template-columns: repeat(1, 300px);
    }
}