.calltoactionbox {
    padding: 60px 100px;
    background-color: #E8EEF1;
    display: flex;
    border-radius: 6px;
}

@media (max-width: 1220px) {
    .calltoactionbox {
        padding: 40px 30px;
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .calltoactionbox {
        flex-direction: column;
        padding: 40px 30px;
        max-width: 100%;
    }
}