.section-subtitle_type_left {
    text-align: left;
    font-weight: bold;
    font-size: 27px;
    max-width: 1170px;
    margin-bottom: 160px;
}

@media (max-width: 1220px) {
    .section-subtitle_type_left {
        margin: 0 0 20px 40px;
    }
}

@media (max-width: 450px) {
    .section-subtitle_type_left {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        margin: 0 15px 10px 15px;
    }
}